{% extends "SamuGestionVMBundle::gvmlayout.html.twig" %}

{% block title %}
	Ajouter un nouveau véhicule - {{ parent() }}
{% endblock %}

{% block gvm_actionbody %}
	<h2>Entrez le nom de la nouvelle catégorie :</h2>

	<div>
		{% for flashMessage in app.session.flashbag.get('notice') %}
			{{ flashMessage }}
		{% endfor %}
	</div>
	
	<div>{{ form(form) }}</div>

{% endblock %}