{# @Variables :
	- array : vehicules
	- array : materiels
	- flash : notice #}

{% extends "SamuGestionVMBundle::gvmlayout.html.twig" %}

{% block title %}
	Gestion du parc véhicule - {{ parent() }}
{% endblock %}

{% block gvm_actionbody %}

<div id="block-vehicules" class="entity-container">

	<div id="block-title" class="entity-title">
		<h1>Gestion du parc véhicule</h1>
	</div>

	<div id="block-UMH" class="entities-container">	
		<h1>UMH</h1>
		<ul class="sortable">		
		{% for vehicule in vehicules if vehicule.typeVehicule == 'UMH' and vehicule.operationnel %}
			{% include 'SamuGestionVMBundle:EntitiesVM:cartouche_vehicule.html.twig' %}
		{% endfor %}
		</ul>
	</div>

	<div id="block-VML" class="entities-container">
		<h1>VML</h1>
		<ul class="sortable">
		{% for vehicule in vehicules if vehicule.typeVehicule == 'VML' and vehicule.operationnel %}

			{% include 'SamuGestionVMBundle:EntitiesVM:cartouche_vehicule.html.twig' %}

		{% endfor %}
		</ul>		
	</div>

	<div id="add-vehicule" class="button">
		<a href="{{ path('samu_gestion_vm_entitiesAdd', {'type' : 'vehicule'}) }}">
			Ajouter un véhicule
		</a>
	</div>


	<div id="vehicules-desarmes">
		<h1>Véhicules désarmés</h1>
		<div id="block-UMH-desarme" class="entities-container">
			<h1>UMH</h1>
			<ul>	
			{% for vehicule in vehicules if vehicule.typeVehicule == 'UMH' and not vehicule.operationnel %}

				{% include 'SamuGestionVMBundle:EntitiesVM:cartouche_vehicule.html.twig' %}

			{% endfor %}
			</ul>	
		</div>
		<div id="block-VML-desarme" class="entities-container">
			<h1>VML</h1>
			<ul>
			{% for vehicule in vehicules if vehicule.typeVehicule == 'VML' and not vehicule.operationnel %}

				{% include 'SamuGestionVMBundle:EntitiesVM:cartouche_vehicule.html.twig' %}

			{% endfor %}
			</ul>		
		</div>
	</div>
</div>

{% endblock %}