{# @Variables :
	- array : vehicules
	- array : materiels
	- flash : notice #}

{% extends "SamuGestionVMBundle::gvmlayout.html.twig" %}

{% block title %}
	Choix de l'historique à consulter - {{ parent() }}
{% endblock %}

{% block gvm_actionbody %}

<div id="block-vehicules" class="entity-container">
	<div id="block-title" class="entity-title">Gestion du parc véhicule</div>
	<div id="block-UMH" class="entities-container">			
		{% for vehicule in vehicules if vehicule.typeVehicule == 'UMH' %}

			{% include 'SamuGestionVMBundle:EntitiesVM:cartouche_vehicule.html.twig' %}

		{% endfor %}
	</div>

	<div id="block-VML" class="entities-container">
		{% for vehicule in vehicules if vehicule.typeVehicule == 'VML' %}

			{% include 'SamuGestionVMBundle:EntitiesVM:cartouche_vehicule.html.twig' %}

		{% endfor %}			
	</div>
	<div id="add-vehicule" class="add-button"><a href="{{ path('samu_gestion_vm_entitiesAdd', {'type' : 'vehicule'}) }}">Ajouter un véhicule<a></div>
</div>

<div id="block-materiel">
	
</div>

{% endblock %}