{# @Variables :
	- array : vehicules
	- array : materiels
	- flash : notice #}

{% extends "SamuGestionVMBundle::gvmlayout.html.twig" %}

{% block title %}
	Choix de l'historique à consulter - {{ parent() }}
{% endblock %}

{% block gvm_actionbody %}

	<h2>Veuillez choisir un historique à consulter :</h2>

	<ul>
	{% for vehicule in vehicules %}
		<li><a href="{{ path('samu_gestion_vm_entitiesView', {'type' : 'vehicule', 'id' : vehicule.id }) }}">{{ vehicule.name }}</a></li>
	{% endfor %}
	</ul>

{% endblock %}