{# src/Samu/GestionVM/Resources/views/EntitiesVM/vehicules_index.html.twig #}

<li> Type : {{ entity.typeVehicule }} </li>
<li> Modèle : {{ entity.modele }} </li>
<li> Immatriculation : {{ entity.immatriculation }} </li>
<li> ordre de départ : {{ entity.ordreDepart }} </li>
