<<<<<<< HEAD
{# src/Samu/GestionVM/Resources/views/EntitiesVM/vehicules_index.html.twig #}
<li> Type : {{ entity.typeVehicule }} </li>
<li> Modèle : {{ entity.modele }} </li>
<li> Immatriculation : {{ entity.immatriculation }} </li>
<li> ordre de départ : {{ entity.ordreDepart }} </li>
=======
>>>>>>> b4376fa8354a81c838075f63dd5b8f51432da49e
