{# @Variables :
	- Vehicule/Materiel : entity
	- string : type
#}

{% extends "SamuGestionVMBundle::gvmlayout.html.twig" %}

{% block title %}
	Détail d'un {{ type }} - {{ parent() }}
{% endblock %}

{% block gvm_actionbody %}
	<div>
		<li>{{ entity.name }}</li>
		<li>{{ entity.annee}}</li>
		{% if entity.operationnel %}
		<li>En service</li>
			{% elseif %}
		<li>Hors service</li>
		{% endif %}
		{% include 'SamuGestionVMBundle:EntitiesVM:vehicules_index.html.twig' %}

	</div>
{% endblock %}

