{# @Variables :
	- Vehicule/Materiel : entity
	- string : type
#}

{% extends "SamuGestionVMBundle::gvmlayout.html.twig" %}

{% block title %}
	Détail d'un {{ type }} - {{ parent() }}
{% endblock %}

{% block gvm_actionbody %}
	<div>
		<li>{{ entity.name }}</li>
		<li>{{ entity.annee|date("m/d/Y") }}</li>

		{% if entity.operationnel %}
			<li>En service</li>
		{% else %}
			<li>Hors service</li>
		{% endif %}

		{% if type == 'vehicule'%}
			{% include 'SamuGestionVMBundle:EntitiesVM:vehicules_index.html.twig' %}
		{% else %}
			{% include 'SamuGestionVMBundle:EntitiesVM:materiels_index.html.twig' %}
		{% endif %}
	</div>
{% endblock %}

