{% extends "SamuPortalBundle::portallayout.html.twig" %}

{% block title %}
	Portail - {{ parent() }}
{% endblock %}

{% block portail_actionbody %}
	<a href="{{ path('samu_gestion_vm_index', {'action': 'index'}) }}">Gestion Véhicule et matériel</a>
	<a href="#">Les autres applis, gestion du compte, tout ça</a>
{% endblock %}

