<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{% block title %}Plateforme d'applications SAMU76B{% endblock %}</title>
	{% block stylesheets %}
		{% stylesheets output="css/compiled/main.css" filter='cssrewrite'
			'bundles/samuuser/css/login.css'
			'bundles/samugestionvm/css/main.css'
			'bundles/samugestionvm/css/header.css'
			'bundles/samugestionvm/css/nav_style.css'
	  		'bundles/samuuser/css/login.css'
	  		'bundles/samugestionvm/css/probleme_view.css'
	  		'bundles/samugestionvm/css/cartouche-vehicule.css'
	  		'bundles/samugestionvm/css/gestion-parc.css'
		%}
	  		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
	  		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
		{% endstylesheets %}
	{% endblock %}
</head>

<body>
	{% block body %}		
	{% endblock %}

	{% block javascripts %}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>		
			<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
		{% javascripts output="js/compiled/core.js"
			
			"@SamuGestionVMBundle/Resources/public/js/flashbags.js"
			"@SamuGestionVMBundle/Resources/public/js/addcom.js"
			"@SamuGestionVMBundle/Resources/public/js/delcom.js"
			"@SamuGestionVMBundle/Resources/public/js/editcom.js"
			"@SamuGestionVMBundle/Resources/public/js/addentity.js"
			"@SamuGestionVMBundle/Resources/public/js/addprobleme.js"
			"@SamuGestionVMBundle/Resources/public/js/sortdepart.js"
			"@SamuGestionVMBundle/Resources/public/js/problemenotnew.js"
			"@SamuGestionVMBundle/Resources/public/js/hideprobleme.js"
			"@SamuGestionVMBundle/Resources/public/js/reportprobleme.js" %}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
			<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
			<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
	{% endblock %}
</body>
</html>