<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	{% block stylesheets %} {# Block à adapter pour coller un css par appli dans son layout #}
	{% endblock %}

	<title>{% block title %}Plateforme d'applications SAMU76B{% endblock %}</title>

</head>
<body>

	{% block body %}
	{% endblock %}

</body>
</html>