<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{% block title %}Plateforme d'applications SAMU76B{% endblock %}</title>
	{% block stylesheets %}
		{% stylesheets output="css/compiled/main.css" filter='cssrewrite'
			'bundles/samugestionvm/css/main.css'
			'bundles/samugestionvm/css/nav_style.css'
	  		'bundles/samuuser/css/login.css'
		%}
	  		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />



		{% endstylesheets %}
	{% endblock %}
</head>
<body>

	{% block body %}
	{% endblock %}

</body>
<div class="footer">
	{% block footer %}
	{% endblock %}
</footer>
</html>