
.sortable.ui-sortable {
	padding: 0px;
}
.ui-sortable-handle {
	left: 5px !important;
}

.cartouche-vehicule
{
	height: 60px;
	background-color: rgb(243, 184, 96);
	border-radius: 10px;
	margin-bottom: 5px;
}

.cartouche-vehicule div
{
	display:inline-block;
	vertical-align: top;
}

.ordre-depart
{
	width: 50px;
	height: 50px;
	background-color: rgb(0, 190, 0);
	padding: 5px;
	float: left;
	border-radius: 5px 0px 0px 5px;
}

.ordre-depart p {
	font-size: 1.8em;

}

p.ordre-depart-vehicule {
	text-align: center;
	margin-top: 25% !important;
	margin-bottom: 25% !important; 
}

.nom-vehicule {
	width: 80px;
	height: 50px;
	background: rgb(206, 255, 191);
	border-radius: 5px;
	float: left;
	text-align: center;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

p.ordre-depart-vehicule-name {
	height:20px;
	margin-top: 25% !important;
	margin-bottom: 25% !important; 
	font-size: 1em;
}

.infos-vehicule
{
	width: 180px;
	float: left;
}

.entities-container
{
	display: inline-block;
	vertical-align: top;
	width: 49.5%;
}

.entity-buttons-container div

{
	display:block;
}


.entity-buttons-container
{
	width: 10%;
	float: right;
}

.entity-buttons-container div
{
	width: 25px;
	margin:auto;
}

.ui-state-highlight
{
	height: 3em;
	margin-bottom: 10px;
}

