#block-vehicules {
background-color: #ABE3BF;
}

/*---------- Block véhicules -------*/

#block-UMH, #block-VML {
	width: 493px;
	background-color: #D3FFD9;

	margin: 5px;
}

.entities-container
{
	display: inline-block;
	vertical-align: top;
	width: 400px;
}

.entities-container h1 {
	text-align: center;
	font-size: 1.2em;
	line-height: 30px;
}

.sortable.ui-sortable {
	padding: 5px;
}
#block-UMH .ui-sortable-handle {
	left: 16px !important;
}

#block-VML .ui-sortable-handle {
	left: 524px !important;
}
.cartouche-vehicule
{
	height: 60px;
	background-color: rgb(243, 184, 96);
	border-radius: 10px;
	margin-bottom: 5px;
}

.cartouche-vehicule div
{
	display:inline-block;
	vertical-align: top;
}

.ordre-depart
{
	width: 50px;
	height: 50px;
	background-color: rgb(0, 190, 0);
	padding: 5px;
	float: left;
	border-radius: 5px 0px 0px 5px;
}

.ordre-depart p {
	font-size: 1.8em;

}

p.ordre-depart-vehicule {
	text-align: center;
	margin-top: 25% !important;
	margin-bottom: 25% !important; 
}

.nom-vehicule {
	width: 80px;
	height: 60px;
	border-radius: 5px;
	float: left;
	text-align: center;
	margin-right: 5px;
}

.vehicule-op {
	background: rgb(255, 226, 100);
}

.vehicule-hs {
	background: red;
}

p.ordre-depart-vehicule-name {
	height:20px;
	margin-top: 25% !important;
	margin-bottom: 25% !important; 
	font-size: 1em;
}

.infos-vehicule
{
	width: 180px;
	float: left;
}

.entity-buttons-container div

{
	display:block;
}


.entity-buttons-container
{
	width: 10%;
	float: right;
}

.entity-buttons-container div
{
	width: 25px;
	margin:auto;
}

.ui-state-highlight
{
	height: 3em;
	margin-bottom: 10px;
}

