.cartouche-vehicule div
{
	display:inline-block;
	vertical-align: top;
}

.cartouche-vehicule
{
	background-color: rgb(243, 184, 96);
	border-radius: 10px;
	margin-bottom: 10px;
}

.ordre-depart
{
	background-color: red;
	padding: 5px;
	float: left;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.entities-container
{
	display: inline-block;
	vertical-align: top;
	width: 49.5%;
}

.entity-buttons-container div
{
	display:block;
}

.nom-vehicule
{
	width:18%;
}

.nom-vehicule p
{
	height:20px;
	margin:auto;
}

.infos-vehicule
{
	width: 70%;
}

.entity-buttons-container
{
	width: 10%;
}

.entity-buttons-container div
{
	width: 25px;
	margin:auto;
}

.ui-state-highlight
{
	height: 3em;
	margin-bottom: 10px;
}

.sortable
{
	margin-left: -35px;
}