html, body {
	width: 100%;
	max-width: 1024px;
	height: 100%;
	background-color: #E7FFFD;
	margin: 0 auto;
}

body{
	display: block;
	color: black;
	font-family: "Arial", Verdana, sans-serif;
	font-size: normal;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
}


#block_page {
	display: inline-block;
	width: 100%;
	height: 100%;
	max-width: 1024px;
	background: #D9D9D9;
	padding-top: 20px;

}
/*---------- Login header --------*/
header {
	width: 100%;
	max-width: 1024px;
	background-color: #667F7D;
	color: #D9D9D9;
	padding-top: 1px;
	padding-bottom: 1px;
}

nav {
	width: 100%;
	height: 30px;
	display: block;
}

footer  {
	position: relative;
	bottom: 0px;
	width: 100%;
	max-width: 1024px;
	background: #667F7D;
	color: #D9D7D3;
	padding-bottom: 20px;
}


section {
	display: block;
	width: 800px;
	margin-top: 20px;
	margin:0 auto;
	padding-top: 10px;
	border: 1px solid;
	border-radius: 10px;
	
}

