.probleme_view_block {
	width: 100%;
}

.probleme_view_block li {
	list-style: none;
}

/*----------------------- Problème view ----------------------*/

.probleme_view {
	background-color: #FFFFFF;
	border: solid 7px #ABE3BF;
}


.vehicule_name {
	margin-top: 10px;
	text-align: center;
	width: 100%;
	height: 30px;
	background-color: #ABE3BF;
	border-top: 10px solid #ABE3BF;
	font-weight: bold;
	 
}

.vehicule_name p {
	font-size: 1.2em;
	font-style: bold;
	vertical-align: middle;
	line-height: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*--------------------- Titre du problème -----------------*/
.probleme_view_title {
	padding-bottom: 10px;	
	padding-top: 10px;
	background-color: #D3FFD9;
	height: 30px;
	width: 100%;
}

.pvt_id  { 
	float: left;
	position: relative;
	top: 3px;
	left: 10px;
	margin-right: 5px !important;
}

.pvt_title {
	float: left;
}
.pvt_title a {
	float: left;
	position: relative;
	top: 3px;
	padding-left: 10px;
	font-size: 1.5em;
	color: #3e3e3e;
}

.pvt_timer {
	position: relative;
	top: 10px;
	left: 10px;
	font-style: italic;
	color: grey;
}

.pvt_block_content {
	padding-bottom: 10px;
	background: rgb(255, 251, 140);
	padding: 10px;
	margin: 5px;
	border-radius: 7px;
}

.pvt_author {
	/*position: relative;
	right: 10px;
	bottom: 10px;
	float: right;*/
	width: 100%;
	padding-right: 10px;
	margin-bottom: 10px;
	font-size: 0.8em;
	font-style: italic;
	color: #9a9293;
}
.pvt_author p {
	float:right;
}

.pvt_validations {
	float: right;
	position: relative;
	top: 3px;
	right: 10px;
}

.pvt_title a, .pvt_validations a {
	text-decoration: none;
}

.pvt_id span
{
	background-color: #FFE9B7;
	position: relative;
	top:-7px;
	border-radius: 10px;
	padding: 6px;
}
/*------------------- Coms ------------------*/
.coms {
	background-color: #FFFFFF;
	border-radius:0 0 10px 10px;
}

.coms_title {
	background-color: #D3FFD9;
	padding-left: 10px;
	padding: 5px;
	font-weight: bold;
}

.com-title
{
	float: right;
	padding-right: 10px;
	padding-bottom: 5px;
	font-size: 0.8em;
	font-style: italic;
	color: #e58819;
	background-color: #ABE3BF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    margin-left: 4px;
    position: relative;
    right: -17px;
	box-shadow: -1px 2px 2px grey;
}

.combox
{
	background-color: #FFE9B7;
	padding: 7px;
    border-radius: 7px;
    margin: 5px;
}

.com-links a {
	text-decoration: none;
	color: grey;
	font-size: 0.8em;
	font-style: italic;
}

.combody {
	text-align: justify;
}

.add-com {
	background-color: #FFE9B7;
	padding: 7px;
    border-radius: 7px;
    margin: 5px;
}

.add-com input[type=text] {
	width: 850px;
	padding: 5px;
	margin: 3px;
}