#probleme_view {
	margin:0 auto; 
	margin-bottom: 10px;
	width: 90%;
	background: #FFFFFF;
	border: 1px solid;
	border-radius: 10px;
}

#probleme_view li {
	list-style: none;
}

.vehicule_name {
	margin: 0 auto; 
	text-align: center;
	height: 30px;
	background-color: #ABE3BF;
	border-radius:10px 10px  0 0; 
}

.vehicule_name p {
	font-size: 1.2em;
	font-style: bold;
	vertical-align: middle;
	line-height: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}