.probleme_view_block {
	width: 100%;
	border-bottom: solid 10px #ABE3BF;

}

.probleme_view_block li {
	list-style: none;
}

/*----------------------- Problème view ----------------------*/

.probleme_view {
	background-color: #FFFFFF;
	margin-bottom: 10px;
	border: solid 7px #ABE3BF;
	border-top: none;
	border-bottom: none;
}


.vehicule_name {
	margin: 0 auto; 
	text-align: center;
	width: 100%;
	height: 30px;
	background-color: #ABE3BF;
	 
}

.vehicule_name p {
	font-size: 1.2em;
	font-style: bold;
	vertical-align: middle;
	line-height: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*--------------------- Titre du problème -----------------*/
.probleme_view_title {
	display: block;
	float: left;
	background-color: #D3FFD9;
	height: 30px;
	width: 100%;
}

.pvt_id  { 
	float: left;
	position: relative;
	top: 3px;	
	left: 3px;
}

.pvt_title a {
	float: left;
	position: relative;
	top: 4px;
	padding-left: 10px;
	font-size: 1.2em;
	font-style: bold; 
	color: #3e3e3e;
}

.pvt_title a:hover {
	color: #E58B06;
}

.pvt_content {
	display: inline-block;
}
.pvt_author {
	float: right;
	padding-right: 10px;
	padding-bottom: 5px;
	font-size: 0.8em;
	font-style: italic;
	color: #E58B06;
}

.pvt_validations {
	float: right;
	position: relative;
	top: 3px;
	right: 3px;
}

.pvt_title a, .pvt_validations a {
	text-decoration: none;
}

.pvt_id span
{
	background-color: #FFE9B7;
	position: relative;
	top:-7px;
	border-radius: 10px;
	padding: 6px;
}
/*------------------- Coms ------------------*/
.coms {
	background-color: #FFFFFF;
	border-radius:0 0 10px 10px;
	padding-left: 10px !important;
}

.coms_title {
	background-color: #D3FFD9;
	padding-left: 10px;
}

.com-title
{
	float: right;
	padding-right: 10px;
	padding-bottom: 5px;
	font-size: 0.8em;
	font-style: italic;
	color: #D3FFD9;
	background-color: #ABE3BF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    margin-left: 4px;
    position: relative;
    right: -17px;
}

.combox
{
	background-color: #FFE9B7;
	padding: 7px;
    border-radius: 7px;
    margin: 5px;
    margin-right: 10px;
}