samu_gestion_vm_index:
    path:     /{page}
    defaults: { _controller: SamuGestionVMBundle:ProblemeVM:index, page: 1 }
    requirements:
        page: \d*

samu_gestion_vm_problemeView:
    path:     /view/{id}
    defaults: { _controller: SamuGestionVMBundle:ProblemeVM:view }
    requirements:
        id:   \d+

samu_gestion_vm_problemeAdd:
    path:     /add-{typePb}
    defaults: { _controller: SamuGestionVMBundle:ProblemeVM:add }
    requirements:
        typePb: pbvehicule|pbmateriel

samu_gestion_vm_problemeEdit:
    path:     /edit/{id}
    defaults: { _controller: SamuGestionVMBundle:ProblemeVM:edit }
    requirements:
        id:   \d+

samu_gestion_vm_problemeDelete:
    path:     /delete/{id}
    defaults: { _controller: SamuGestionVMBundle:ProblemeVM:delete }
    requirements:
        id: \d+

samu_gestion_vm_problemeReport:
    path:     /report-{typepb}
    defaults: { _controller: SamuGestionVMBundle:ProblemeVM:report }
    requirements:
        typepb: pbvehicule|pbmateriel

samu_gestion_vm_problemeValidate:
    path:     /validate/{id}
    defaults: { _controller: SamuGestionVMBundle:ProblemeVM:validate }
    requirements:
        id: \d+

samu_gestion_vm_entitiesIndex:
    path:     /historiques
    defaults: { _controller: SamuGestionVMBundle:EntitiesVM:index }
        #requirements:
            #cible: # A Definir...

samu_gestion_vm_entitiesAdd:
    path:     /add-{type}
    defaults: { _controller: SamuGestionVMBundle:EntitiesVM:add }
    requirements:
        type: vehicule|materiel

samu_gestion_vm_entitiesEdit:
    path:     /edit-{type}/{id}
    defaults: { _controller: SamuGestionVMBundle:EntitiesVM:edit }
    requirements:
        type: vehicule|materiel
        id:    \d+

samu_gestion_vm_entitiesDelete:
    path:     /delete-{type}/{id}
    defaults: { _controller: SamuGestionVMBundle:EntitiesVM:delete }
    requirements:
        type: vehicule|materiel
        id:   \d+

samu_gestion_vm_entitiesView:
    path:     /view/{type}/{id}
    defaults: { _controller: SamuGestionVMBundle:Entities:view }
    requirements:
        type: vehicule|materiel
        id:   \d+