samu_gestion_vm_index: #Home
    path:     /{page}
    defaults: { _controller: SamuGestionVMBundle:ProblemeVM:index, page: 1 }
    requirements:
        page: \d*

samu_gestion_vm_problemeView:
    path:     /view/{id}
    defaults: { _controller: SamuGestionVMBundle:ProblemeVM:view }
    requirements:
        id:   \d+

samu_gestion_vm_problemeAdd: #Menu
    path:     /add-{typePb}
    defaults: { _controller: SamuGestionVMBundle:ProblemeVM:add }
    requirements:
        typePb: pbvehicule|pbmateriel

samu_gestion_vm_problemeEdit:
    path:     /edit-{typePb}/{id}
    defaults: { _controller: SamuGestionVMBundle:ProblemeVM:edit }
    requirements:
        id:     \d+
        typePb: pbvehicule|pbmateriel

samu_gestion_vm_problemeDelete:
    path:     /delete/{id}
    defaults: { _controller: SamuGestionVMBundle:ProblemeVM:delete }
    requirements:
        id: \d+

samu_gestion_vm_problemeReport:
    path:     /report-{typePb}
    defaults: { _controller: SamuGestionVMBundle:ProblemeVM:report }
    requirements:
        typePb: pbvehicule|pbmateriel

samu_gestion_vm_problemeValidate:
    path:     /validate/{id}
    defaults: { _controller: SamuGestionVMBundle:ProblemeVM:validate }
    requirements:
        id: \d+

samu_gestion_vm_problemeClasser:
    path:     /classer/{id}
    defaults: { _controller: SamuGestionVMBundle:ProblemeVM:classer }
    requirements:
        id: \d+

#----------Entities---------#
samu_gestion_vm_entitiesIndex:
    path:     /gerer-parc-{type}
    defaults: { _controller: SamuGestionVMBundle:EntitiesVM:index }
    requirements:
        type: vehicule|materiel

samu_gestion_vm_entitiesAdd:
    path:     /add-{type}
    defaults: { _controller: SamuGestionVMBundle:EntitiesVM:add }
    requirements:
        type: vehicule|materiel

samu_gestion_vm_entitiesEdit:
    path:     /edit-{type}/{id}
    defaults: { _controller: SamuGestionVMBundle:EntitiesVM:edit }
    requirements:
        type: vehicule|materiel
        id:    \d+

samu_gestion_vm_entitiesDelete:
    path:     /delete-{type}/{id}
    defaults: { _controller: SamuGestionVMBundle:EntitiesVM:delete }
    requirements:
        type: vehicule|materiel
        id:   \d+

samu_gestion_vm_entitiesView:
    path:     /view/{type}/{id}
    defaults: { _controller: SamuGestionVMBundle:EntitiesVM:view }
    requirements:
        type: vehicule|materiel
        id:   \d+

samu_gestion_vm_entitiesAddMatCat:
    path:    /add/categorie
    defaults: { _controller: SamuGestionVMBundle:EntitiesVM:addMatCat }

samu_gestion_vm_entitiesDeleteMatCat:
    path:    /delete/categorie-{id}
    defaults: { _controller: SamuGestionVMBundle:EntitiesVM:deleteMatCat }
    requirements:
        id: \d+

samu_gestion_vm_entitiesEditMatCat:
    path:    /edit/categorie-{id}
    defaults: { _controller: SamuGestionVMBundle:EntitiesVM:editMatCat }
    requirements:
        id: \d+

samu_gestion_vm_entitiesMatCatViewIndex:
    path:     /categorie/index
    defaults: { _controller: SamuGestionVMBundle:EntitiesVM:indexMatCat }
    requirements:
        id:  \d+

#--------Commentaires-------#
samu_gestion_vm_addCom:
    path:     /comment/add/{id}
    defaults: { _controller: SamuGestionVMBundle:ProblemeCom:add }
    requirements:
        id:   \d+

samu_gestion_vm_deleteCom:
    path:     /comment/delete/{id}
    defaults: { _controller: SamuGestionVMBundle:ProblemeCom:delete }
    requirements:
        id:   \d+

samu_gestion_vm_editCom:
    path:     /comment/edit/{id}
    defaults: { _controller: SamuGestionVMBundle:ProblemeCom:edit }
    requirements:
        id:   \d+