#probleme_view_block {
	width: 100%;
	background: #FFFFFF;

}

#probleme_view_block li {
	list-style: none;
}

/*----------------------- Problème view ----------------------*/

.probleme_view {
	background-color: #FFFFFF;
}


.vehicule_name {
	margin: 0 auto; 
	text-align: center;
	width: 100%
	;
	height: 30px;
	background-color: #ABE3BF;
	 
}

.vehicule_name p {
	font-size: 1.2em;
	font-style: bold;
	vertical-align: middle;
	line-height: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.probleme_view_title {
	display: block;
	float: left;
	background: #ABE3BF;
	height: 30px;
	width: 100%;
}

.pvt_id  { 
	float: left;
}

.pvt_title {
	float: left;
}

.pvt_content {
	display: inline-block;
}
.pvt_author {
	float: right;
	padding-right: 10px;
}

.pvt_validation{
	float: left;
}

/*------------------- Coms ------------------*/
.coms {
	background-color: #FFFFFF;
	border-radius:0 0 10px 10px;
	padding-left: 10px !important;
}

.coms_title {
	background-color: #ABE3BF;
	padding-left: 10px;
}