html {
	height: 100%;
}

html {
	width: 100%;
	max-width: 1024px;
	background-color: #E7FFFD;
	margin: 0 auto;
}

body{
	background: #D9D9D9;
	position: relative;
	display: block;
	color: black;
	font-family: "Arial", Verdana, sans-serif;
	font-size: 1em;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
}


#block_page {
	max-width: 1024px;
	background: #D9D9D9;
}
/*---------- Login header --------*/
header {
	width: 100%;
	max-width: 1024px;
	background-color: #667F7D;
	color: #D9D9D9;
	padding-top: 1px;
	padding-bottom: 1px;
}

.header_content {
	padding: 8px;
}

<<<<<<< HEAD

=======
nav {
	width: 100%;
	height: 36px;
	display: block;
}
>>>>>>> 68b02b3ba63e74aaee5270d2e7168620e309ea18

footer {
    bottom: 0px;
    height: 80px;
    width: 100%;
    max-width: 1024px;
    background: #667F7D;
    color: #D9D7D3;
}

section {
	display: block;
	width: 990px;
	margin-top: 20px;
	margin:0 auto;
	padding-top: 10px;
}

/*------------- Flashbags --------------*/

.flashbag {
	width: 150px;
	height: 60px;
	background: red;
	margin: 0 auto;
}