html {
	height: 100%;
}

html {
	width: 100%;
	max-width: 1024px;
	background-color: #E7FFFD;
	margin: 0 auto;
}

body{
	background: #D9D9D9;
	position: relative;
	display: block;
	min-height: 100%;
	color: black;
	font-family: "Arial", Verdana, sans-serif;
	font-size: 1em;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
}



li {
	list-style: none;
}

#block_page {
	max-width: 1024px;
	background: #D9D9D9;
}

footer {
	position: absolute;
    bottom: 0px;
    height: 80px;
    width: 100%;
    max-width: 1024px;
    background: #667F7D;
    color: #D9D7D3;
}

section {
	display: block;
	width: 1012px;
	margin-top: 20px;
	margin:0 auto;
	padding-top: 10px;
}

/*------------- Flashbags --------------*/

.flashbag {
 	margin: 0 auto;
 	margin-bottom: 20px;
 	padding-top: 10px;
 	padding-bottom: 10px;
 	background: rgb(255, 179, 25);
 	border-radius: 3px;
 	text-align: center;

 }
/*---------- Login header --------*/
header {
	width: 100%;
	max-width: 1024px;
	background-color: #667F7D;
	color: #D9D9D9;
	padding-top: 1px;
	padding-bottom: 1px;
}

.header_content {
	padding: 8px;
}

.header_logo {

	float: right;
	position: relative;
	top: 8px;
}


nav {
        width: 100%;
        height: 36px;
        display: block;
}

#nav {
        background-color: #91BDB9;
        height: 36px;
        font-size: 14px;
}

#nav a {
        color: #3e3e3e;
}
#nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align:center;
}
#nav li {
        width: 210px; 
        float: left;
        margin: auto;
        padding: 10px 10px 10px 10px;
        background-color: #91BDB9;
        border-right: solid rgb(216, 216, 216) 1px;

}
#nav ul li ul {
        display: none;
}
#nav a:link {
        text-decoration: none;
}
#nav li a:hover {
        color: #FBFBFB;
}

#nav ul li:hover ul {
        display:block;
 }
#nav li:hover ul li {
        float:none;
        position: relative;
        right: 10px;
        top:10px;
        background-color: #7DA3A0;
 }
 #nav li ul {
        position:absolute;
 }

   
/*--------------------------------------------------------------------*/
/*----------- Bouton Home; Bounton validation des problèmes ----------*/
/*--------------------------------------------------------------------*/

#nav_validation ul li, #nav_home ul li {
        padding: 0px 3px 0px 3px;
        height: 36px;
        width: 36px;
 }
#nav_validation ul li img, #nav_home ul li img {
        position: relative;
        top:2px;
}

#nav_validation {
        float: left;
        padding-right: 4px;
}

#nav_validation li {
        margin: auto;
        text-align:center;
        border-right-width: 0px;
}

#nav_validation ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        
}

#nav_validation li:hover ul li {
        float:left;
        position: relative;
        right: 100px;
        top:0px;
        width: 210px;
}

#nav_validation ul li ul li {
        position: relative;
        right: 150px;  
        width: 210px;
}
.btn_validation_message {
        width: 200px;
}
.btn_validation_message p {
        margin: 0px; 
        vertical-align: middle;
        line-height: 36px

}
body {
	margin: 0;
	height: auto;
	background: none;
	position: relative;
}

#login_header a {
	text-decoration: none;
	font-size: 0.75em;
}

#login_header a:hover {
	color: #D9D9D9;
}

/*----------------- Login Form -----------------*/
/*------------------ Request Form  (Affiche request.html.twig) ------------------*/
#login_form, #request_form {
	width: 350px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
	margin-top: 25%;
	border-radius: 15px;
	background: #D9D9D9;
	color: #667F7D;

}

#login_form label, #request_form label {
	display: block;
	float: left;
	width: 180px;
}

#login_form form, #request_form form {
	display: inline;
	margin: 0 auto;
}

.btn_login_submit {
	height: 30px;
	text-align: center;
	margin-top: 20px;
}




#_submit  {
	width: auto;
	height: 20px;
 }

 #_submit:hover {
 	text-decoration: none;
 }

 #username, #password {
 	height: 20px;
 	width: 164px;
 	font-size: 1em;
 	margin-bottom: 10px;
 }

 #passwordForget {
 	text-decoration: none;
	color: grey;
	font-size: 0.85em
 }

#passwordForget:hover {
	text-decoration: none;
}

 .msg_error {
 	margin: 0 auto;
 	margin-bottom: 20px;
 	padding-top: 10px;
 	padding-bottom: 10px;
 	background: rgb(255, 179, 25);
 	border-radius: 3px;
 	text-align: center;

 }



.probleme_view_block {
	width: 100%;
	border-bottom: solid 10px #ABE3BF;

}

.probleme_view_block li {
	list-style: none;
}

/*----------------------- Problème view ----------------------*/

.probleme_view {
	background-color: #FFFFFF;
	margin-bottom: 10px;
	border: solid 7px #ABE3BF;
	border-top: none;
	border-bottom: none;
}


.vehicule_name {
	margin: 0 auto; 
	text-align: center;
	width: 100%;
	height: 30px;
	background-color: #ABE3BF;
	 
}

.vehicule_name p {
	font-size: 1.2em;
	font-style: bold;
	vertical-align: middle;
	line-height: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*--------------------- Titre du problème -----------------*/
.probleme_view_title {
	display: block;
	float: left;
	background-color: #D3FFD9;
	height: 30px;
	width: 100%;
}

.pvt_id  { 
	float: left;
	position: relative;
	top: 3px;	
	left: 3px;
}

.pvt_title a {
	float: left;
	position: relative;
	top: 4px;
	padding-left: 10px;
	font-size: 1.2em;
	font-style: bold; 
	color: #3e3e3e;
}

.pvt_title a:hover {
	color: #E58B06;
}

.pvt_content {
	display: inline-block;
}
.pvt_author {
	float: right;
	padding-right: 10px;
	padding-bottom: 5px;
	font-size: 0.8em;
	font-style: italic;
	color: #E58B06;
}

.pvt_validations {
	float: right;
	position: relative;
	top: 3px;
	right: 3px;
}

.pvt_title a, .pvt_validations a {
	text-decoration: none;
}

.pvt_id span
{
	background-color: #FFE9B7;
	position: relative;
	top:-7px;
	border-radius: 10px;
	padding: 6px;
}
/*------------------- Coms ------------------*/
.coms {
	background-color: #FFFFFF;
	border-radius:0 0 10px 10px;
	padding-left: 10px !important;
}

.coms_title {
	background-color: #D3FFD9;
	padding-left: 10px;
}

.com-title
{
	float: right;
	padding-right: 10px;
	padding-bottom: 5px;
	font-size: 0.8em;
	font-style: italic;
	color: #D3FFD9;
	background-color: #ABE3BF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    margin-left: 4px;
    position: relative;
    right: -17px;
	box-shadow: -1px 2px 2px grey;
}

.combox
{
	background-color: #FFE9B7;
	padding: 7px;
    border-radius: 7px;
    margin: 5px;
    margin-right: 10px;
}