html, body {
	width: 100%;
	height: 100%;
	background: #FFE3B4;
	margin: 0 auto;
}

body{
	color: black;
	font-family: "Arial Black", Arial, Verdana, sans-serif;
	font-size: normal;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
}

header {
	background: #7F6334;
	color: #D9D7D3;
	padding-top: 20px;
	padding-left: 20px;
}

nav {
	float: left;
	padding: 10px;
	margin-right: 5px;
	
}

footer  {
	width:100%;
	height:100px;
	position:absolute;
	bottom:0;
	left:0;
	background: #7F6334;
	color: #D9D7D3;
	padding-top: 20px;
	padding-left: 20px;
}

#block_page {
	max-width: 100%;
	height: 100%;
	background: #D9D7D3;
}

section {
	display: block;
}
