html {
	height: 100%;
}

html {
	width: 100%;
	max-width: 1024px;
	background-color: #E7FFFD;
	margin: 0 auto;
}

body{
	background: #D9D9D9;
	position: relative;
	display: block;
	min-height: 100%;
	color: black;
	font-family: "Arial", Verdana, sans-serif;
	font-size: 1em;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
}



li {
	list-style: none;
}


#block_page {
	max-width: 1024px;
	background: #D9D9D9;
}
/*---------- Login header --------*/
header {
	width: 100%;
	max-width: 1024px;
	background-color: #667F7D;
	color: #D9D9D9;
	padding-top: 1px;
	padding-bottom: 1px;
}

.header_content {
	padding: 8px;
}



footer {
	position: absolute;
    bottom: 0px;
    height: 80px;
    width: 100%;
    max-width: 1024px;
    background: #667F7D;
    color: #D9D7D3;
}

section {
	display: block;
	width: 990px;
	margin-top: 20px;
	margin:0 auto;
	padding-top: 10px;
}

/*------------- Flashbags --------------*/

.flashbag {
 	margin: 0 auto;
 	margin-bottom: 20px;
 	padding-top: 10px;
 	padding-bottom: 10px;
 	background: rgb(255, 179, 25);
 	border-radius: 3px;
 	text-align: center;

 }