html, body {
	width: 100%;
	max-width: 1024px;
	height: 100%;
	background: #FFE3B4;
	margin: 0 auto;
}

body{
	display: block;
	color: black;
	font-family: "Arial Black", Arial, Verdana, sans-serif;
	font-size: normal;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    text-align: left;
}

#block_page {
	display: inline-block;
	width: 100%;
	max-width: 1024px;
	background: #D9D7D3;
}

header {
	width: 100%;
	max-width: 1024px;
	background: #7F6334;
	color: #D9D7D3;
	padding-top: 20px;
}

nav {
	width: 340px;
	float: left;
	padding: 10px;	
}

footer  {
	width: 100%;
	max-width: 1024px;
	background: #7F6334;
	color: #D9D7D3;
	padding-bottom: 20px;
}


section {
	width: 600px;
	margin-left: 360px;
	border: 1px solid;
	border-radius: 10px;
	margin-bottom: 10px;
}

aside {
	display: block;
	margin-left: 5px;
}
