body {
	height: auto;
}

#login_form {
	width: 321px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 30px;
	margin: 0 auto;
	margin-top: 25%;
	border-radius: 15px;
	background: #D9D9D9;
	color: #667F7D;

}


#login_form label {
	display: block;
	float: left;
	width: 180px;
}

#login_form form {
	width: 150;
	margin: 0 auto;
}
#login_form input #_submit {
	margin-left: 50%;
	margin-right: 50%;
}

#login_header {
	position: absolute;
	top: 10px;


}
#login_header a {
	text-decoration: none;
	font-size: 0.75em;
}
#login_header a:hover {
	color: #D9D9D9;
}