body {
	height: auto;
	background: none;
	position: relative;
}

#login_header a {
	text-decoration: none;
	font-size: 0.75em;
}

#login_header a:hover {
	color: #D9D9D9;
}

#login_form {
	width: 321px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0 auto;
	margin-top: 25%;
	border-radius: 15px;
	background: #D9D9D9;
	color: #667F7D;

}

#login_form label {
	display: block;
	float: left;
	width: 180px;
}

#login_form form {
	width: 150;
	margin: 0 auto;
}
.btn_login_submit {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#_submit {
	width: 300px;
	height: 20px;


 }
 .msg_error {
 	width: 300px;
 	margin: 0 auto;
 	margin-bottom: 10px;
 	padding-top: 10px;
 	padding-bottom: 10px;
 	background: rgb(255, 179, 25);
 	border-radius: 3px;
 	text-align: center;

 }


