{% extends "::layout.html.twig" %}

{% block title %}
	Gestion Véhicules{# et Matériel#} - {{ parent() }}
{% endblock %}

{% block body %}
	<section id="global">
		<header>
			{% include 'SamuGestionVMBundle::header.html.twig' %}
		</header>

		<nav>
			{% include 'SamuGestionVMBundle::menu.html.twig' %} {# inclusion des menus #}
		</nav>

		<div id="block_page">
			<section>
				<article>
					{# Bloc à hériter par les actions des controllers #}
					{% block gvm_actionbody %}
					
						{% block form_row %}
						{% endblock form_row %}	
					{% endblock %}	
				</article>		
			</section>
		</div>
		
		<footer>
			{% include 'SamuGestionVMBundle::footer.html.twig' %}
		</footer>
	</section>
		

{% endblock %}