

<div class="header_content">
	{% image '@SamuGestionVMBundle/Resources/public/images/logo_header.png' %}
					 <img src="{{ asset_url }}" class='header_logo' alt="Logo"> 
	{% endimage %}
	<h1>Gestion Véhicules{# et Matériel#} - 76B</h1>
	<p>Projet en cours de développement.</p>	
</div>