{% block stylesheets %}
	{% stylesheets 'bundles/samugestionvm/css/main.css' filter='cssrewrite' %}
    	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

<div class="header_content">
	<h1>Gestion Véhicules et Matériel - 76B</h1>
	<p>Projet en cours de développement.</p>	
</div>