{# @variables :
array : form
	- form.title
	- form.author
	- form.content
	- form.dateDebut
	- form.vehicule
	- form.Envoyer 
#}
<div id="background-add-pb">
	<div id="popup-add-pb">
		<div class="btn_close">
			<a>Fermer</a>
			{{ form(form) }}
		</div>	
	</div>	
</div>