{% extends "SamuGestionVMBundle::gvmlayout.html.twig" %}

{% block title %}
	Ajouter un problème Véhicule - {{ parent() }}
{% endblock %}

{% block gvm_actionbody %}

<div class="well">
	{{ form(form) }}
</div>

{% endblock %}