{# @variables :
bool add
array : form
	- form.title
	- form.author
	- form.content
	- form.dateDebut
	- form.vehicule
	- form.Envoyer 
#}
<div id="background-add-pb">
	<div id="popup-add-pb" {% if add %} class="add-pb" {% else %} class="report-pb" {% endif %}>
		<div class="btn_close">
			<a id="popup-close">Fermer</a>
		</div>
			{{ form(form) }}
	</div>	
</div>