{# @Variables : 
array : listPbVehicules
array : listPbMateriel
array : listVehicules
int   : nbVehicules
bool  : validation
#}

{% extends "SamuGestionVMBundle::gvmlayout.html.twig" %}

{% block title %}
	Tableau de bord - {{ parent() }}
{% endblock %}
{% block gvm_actionbody %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
		<div class='flashbag'>
			<p>{{ flashMessage }}</p>
		</div>	
	{% endfor %}

	<div>
		<p>Nombre de problèmes :</p>
	</div>

	{% for vehicule in vehiculesAvecProblemesEnCours %}

		<div class="vehicule_name" id="groupe-{{ vehicule.name }}">
			<p>{{ vehicule.name }}</p>
		</div>

		{% for probleme in vehicule.problemes %}

			{% include 'SamuGestionVMBundle:ProblemeVM:problemeView.html.twig' %}

		{% endfor %}

	{% else %}
		<p>Aucun problème {% if validation %}à valider {% else %}en cours {% endif %}sur les véhicules.</p>
	{% endfor %}

{% endblock %}