{# @Variables : 
array : listProblemes
int : nbPages
int : page 
#}

{% extends "SamuGestionVMBundle::gvmlayout.html.twig" %}

{% block title %}
	Tableau de bord - {{ parent() }}
{% endblock %}

{% block gvm_actionbody %}
	{% for flashMessage in app.session.get('notice') %}
		{{ flashMessage }}
	{% endfor %}

	<h1>Tableau de bord</h1>

	<div>
		<h2>Problèmes véhicules</h2>
			{% for probleme in listProblemes if probleme.vehicule %}
				{% include 'SamuGestionVMBundle:ProblemeVM:problemeView.html.twig' %}
			 {% endfor %}
	</div>

	<div>
		<h2>Problèmes Matériels</h2>
			{% for probleme in listProblemes if probleme.materiel %}
				{% include 'SamuGestionVMBundle:ProblemeVM:problemeView.html.twig' %}
			{% endfor %}
	</div>	
	{#Pagination #}
	<p> Pages :
		{% for i in 1..nbPages %}
			<a href="{{ path('samu_gestion_vm_index', {'page' : i } ) }}">{{i}}</a>
		{% endfor %}
	</p>


{% endblock %}