{# @Variables : 
array : listPbVehicules
array : listPbMateriel
bool : validation
#}

{% extends "SamuGestionVMBundle::gvmlayout.html.twig" %}

{% block title %}
	Tableau de bord - {{ parent() }}
{% endblock %}
{% block gvm_actionbody %}
	{% for flashMessage in app.session.get('notice') %}
		{{ flashMessage }}
	{% endfor %}
	<h1>Tableau de bord</h1>

	<div>
		<h2>Problèmes véhicules</h2>
		Nombre de problèmes : {{ listPbVehicules|length }}
			{% for probleme in listPbVehicules %}
				{% include 'SamuGestionVMBundle:ProblemeVM:problemeView.html.twig' %}
			 {% endfor %}
	</div>

	<div>
		<h2>Problèmes Matériels</h2>
		Nombre de problèmes : {{ listPbMateriel|length }}
			{% for probleme in listPbMateriel %}
				{% include 'SamuGestionVMBundle:ProblemeVM:problemeView.html.twig' %}
			{% endfor %}
	</div>	
{% endblock %}

