
{% if decompte %}
	<div class="btn_validation">
		<a class="pb_icon">
			{% image '@SamuGestionVMBundle/Resources/public/images/new-pb.png' %}
				<img src="{{ asset_url }}" alt="Problèmes en attente">
			{% endimage %}
		</a>		
		<a href="{{ path('samu_gestion_vm_indexNonValide') }}">{{ decompte }} problème(s) à valider</a>
	{% else %}
		<a class="pb_icon">
			{% image '@SamuGestionVMBundle/Resources/public/images/no-new-pb.png' %}
				<img src="{{ asset_url }}" alt="Pas de problème en attente">
			{% endimage %}
		</a>
		<span>Pas de problème en attente</span>			
	</div>			
{% endif %}