{# @Variables: 
	- Objet ProblemeVM : probleme 
#}

{% extends 'SamuGestionVMBundle::gvmlayout.html.twig' %}

{% block gvm_actionbody %}
	<div class="vehicule_name"><p>{{probleme.vehicule.name}}</p></div>
		{% include 'SamuGestionVMBundle:ProblemeVM:problemeView.html.twig' %}
{% endblock %}
